<p>
  <strong>Nama peran:</strong>
  <%= @peran.nama_peran %>
</p>

<p>
  <strong>User yang terhubung:</strong>
  <%= @user_terhubung %>
</p>

<%= link_to 'Edit', edit_peran_path(@peran) %> |
<%= link_to 'Back', peran_index_path %>
