<h1>Membuat Laporan Penyuluh Agama Katolik</h1>

<%= render 'form', laporan_penyuluh_agama_katolik: @laporan_penyuluh_agama_katolik %>

<%= link_to 'Batal', laporan_penyuluh_agama_katolik_index_path %>
